.colornav{
    background-color: rgb(190, 15, 15);
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white !important;
}
.nav-link active{
    color: white;
}
.nav-link:hover{
    color: rgb(51, 8, 8) !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-content{
    background: url("/img/Queso-Fresco-de-rancho.webp") no-repeat center center/cover;
    height: 100vh;
    color: rgb(27, 21, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    padding: 0 40px;
}
.intro{
    font-size: 25px;
    margin: 0 auto 10px;
    margin-top: 40px;
    max-width: 500px;
    line-height: 1.6;
}

.card-header{
    color: rgb(255, 255, 255);
    background-color: rgb(190, 15, 15);
}

.card-body{
    color: rgb(255, 255, 255);
    background-color: rgb(190, 15, 15);
}

.card-footer{
    background-color: rgb(190, 15, 15);
}

.text-body-secondary{
    color: white  !important;
}

.active{
    color: rgb(0, 0, 0) !important;
}

.container{
    height: 500px;
    color: rgb(0, 0, 0);
}

.form-label{
    color: rgb(148, 58, 58);
}

main{
    padding: 10px 1rem;
    background-color: rgb(224, 216, 196);
    margin-top: 50px;
    height: 600px;
}

.card{
    margin: 1rem 0;
    height: 200px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
}

.card-body{
    background-color: rgb(190, 15, 15);
}

.text-center{
    margin-top: 90px;
}

.Imagen-carrusel{
    height: 600px;
    object-fit: cover;
}

.texto{
    color: black;
}

.queso{
    height: 200px;
    margin-top: 30px;
}

.queso2{
    height: 200px;
    margin-top: 30px;
    margin-left: 50px;
}

.queso3{
    height: 200px;
    margin-top: 30px;
    margin-left: 50px;
}

.queso4{
    height: 180px;
    margin-top: 30px;
    margin-left: 30px;
}

